.container {
    display: flex;
    justify-content: center;
    width: full;
}

.form-container {
    max-width: 600px;
    min-width: 400px;   
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.form-container .title {
    text-align: center;
    font-size: 1.5rem;
}

.field-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.field {
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    height: 100px;
}

.turno-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
}

.turnos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 960px;
}

.turno {
    width: 300px;
    height: 100px;
    display: flex;
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
}

.turno-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.turno-motivo {
    font-size: 1rem;
    margin-bottom: 10px;
}

.delete-turno-btn {
    background-color: transparent;
    border: 0;
    color: red;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
}

.delete-turno-btn:hover {
    transform: scale(1.15);
}
